/*Estilo general del body*/
* {
   margin-right: 5 rem;
   padding: 0.25%;
}

.navbar.navbar-expand-lg.bg-primary{
   /* background-color:#888 !important; */
   background: radial-gradient(circle, rgba(80,80,80,1) 20%, rgba(200,200,200,1) 100%); 
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   border:2px solid  #555f
}
 

/*Redes sociales*/
i.fa-brands.fa-facebook.fa-2xl,
i.fa-brands.fa-linkedin.fa-2xl,
i.fa-brands.fa-instagram.fa-2xl,
i.fa-brands.fa-twitter.fa-2xl{
  color:#fff;
}


i.fa-brands.fa-facebook.fa-2xl:hover{
    color:#0031ff;
   /* transition: transform 0.3s ease-in-out ;
    transition: scale 1.25;*//*agrandamiento no anda*/
}

i.fa-brands.fa-linkedin.fa-2xl:hover{
    color:#18a7ec;
}

i.fa-brands.fa-instagram.fa-2xl:hover{
    color:#f478df;
}

i.fa-brands.fa-twitter.fa-2xl:hover{
    color:#00acee;
}

.list-group{
   --bs-list-group-bg:transparent;
}  

#panel.panel{
    margin-top: 1rem; 
}

.container-fluid.text-center{
    margin-top: 1rem; 
}

p {
   font-size : 15px; 

}

.experiencia {
    margin-top: 10px;
    margin-bottom: 10px;
   
}

section, #Hard-soft-skills .container-fluid .progress {
    background-color: #ddd;

 } 







#Acerca-de-mi {   
   
   border:3px solid  #555f;
   background-color: #bbb;
} 



.img-fluid {   /* Bordes redondeados de la imagen de banner*/
   border:2px solid  #555f;
}

.rounded-circle {  /* imagen perfil*/
   position: relative;
   margin-top: -5rem;
   border:2px solid  #555f;
  /* z-index: -1*/

} 

#Hard-soft-skills .container-fluid .progress {
    border:1px solid  #555;
    background-color: rgb(137, 170, 192);

}

footer {
   background: radial-gradient(circle, rgba(80,80,80,1) 20%, rgba(200,200,200,1) 100%); 
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   border:2px solid  #555f